{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons translation %}

{% block content %}
    {% if shift %}
        <h1>{% trans "Edit shift" %}</h1>
    {% else %}
        <h1>{% trans "New shift" %}</h1>
    {% endif %}


    <form action="" method="post">
        {% csrf_token %}

        {% bootstrap_form_errors form %}

        <div class="row">
            <div class="col-lg-6">
                {% bootstrap_field form.name layout="floating" %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                {% bootstrap_field form.begin layout="floating" %}
            </div>
            <div class="col-lg-6">
                {% bootstrap_field form.end layout="floating" %}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                {% bootstrap_field form.number layout="floating" %}
            </div>
        </div>

        <div class="row">
            {% bootstrap_field form.unlimited layout="floating" %}
        </div>

        <div class="text-muted">
            {% blocktrans trimmed %}
                The following two settings are only relevant for public jobs.
                When a shift is hidden, it is not necessary to block it additionally.
                The registration over a link is always possible.
            {% endblocktrans %}
        </div>

        {% bootstrap_field form.blocked layout="floating" %}
        {% bootstrap_field form.hidden layout="floating" %}

        {% if form.gifts %}
            {% bootstrap_field form.gifts layout="floating" %}
        {% endif %}

        <button type="submit" class="btn btn-outline-primary">{% icon "save" %} {% trans "Save" %}</button>
    <script>
      checkbox = $("#id_unlimited")[0]
      numberfield = $("#id_number")[0]
      submit = $("[type=submit]:last")[0]
      function checkbox_changed(){
        if(checkbox.checked){
          numberfield.disabled = true;
        } else {
          numberfield.disabled = false;
        }
      }

      window.onload = function(){
        checkbox_changed();
        if(checkbox.checked){
          numberfield.value = 0
        }
      }

      checkbox.addEventListener("change", checkbox_changed)
      submit.addEventListener("click", function() {
        numberfield.disabled = false
      });
    </script>
    </form>
{% endblock %}
