{% extends "helfertool/admin.html" %}
{% load i18n django_bootstrap5 icons %}

{% block content %}
    <h1>{% trans "Nutrition" %}</h1>

    {% if event_data %}
        <h2>{% trans "Total" %}</h2>
        {% include "statistic/nutrition_table.html" with data=event_data %}
    {% endif %}

    {% if day_data %}
        <hr class="solid">
        <h2>{% trans "Per day" %}</h2>
        <div class="row">
            <div class="col-xs-12 col-xl-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{% trans 'Nutrition Type' %}</th>
                            {% for date in day_data.keys %}
                                <th>{{ date }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="w-50">{% trans 'No preference' %}</th>
                            {% for date, data in day_data.items %}
                                <td>{{ data.num_no_preference }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row" class="w-50">{% trans 'Vegetarian' %}</th>
                            {% for date, data in day_data.items %}
                                <td>{{ data.num_vegetarian }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row" class="w-50">{% trans 'Vegan' %}</th>
                            {% for date, data in day_data.items %}
                                <td>{{ data.num_vegan }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                            <th scope="row" class="w-50">{% trans 'Other' %}</th>
                            {% for date, data in day_data.items %}
                                <td>
                                    {{ data.num_other }}
                                    {% if data.helpers_other %}
                                        (<a href="" data-bs-toggle="modal"
                                            data-bs-target="#nutrition-{{ date|date:'Ymd' }}">
                                            {% trans 'Show' %}
                                        </a>)
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    {% if job_data %}
        <hr class="solid">
        <h2>{% trans "Per job" %}</h2>

        <div class="alert alert-secondary">
            <strong>{% trans "Info:" %}</strong>
            {% blocktrans trimmed %}
                Helpers and coordinators are counted for all their jobs.
                If you sum up the numbers here, they might be higher than the total numbers.
            {% endblocktrans %}
        </div>

        {% for job,data in job_data.items %}
            <h3>{{ job.name }}</h3>
            {% include "statistic/nutrition_table.html" with data=data job=job %}
        {% endfor %}
    {% endif %}
{% endblock %}
